.scroll-movies{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scroll-movies::-webkit-scrollbar{
    height: 10px;
    background: rgb(168, 168, 168);
    border-radius: 12px;
}

.scroll-movies::-webkit-scrollbar-thumb{
    background: linear-gradient(to right,  #7045AF, #E14594);
    border-radius: 12px;
}

.mayor_edad{
    background-color: #d30000;
    padding: 6px;
    width: 50px;
    color: #fff;
    border-radius: 5px;
}

.backdrop_image{
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    opacity: 35%;
}

.detail_image{
    width: 60%;
}

.filtro-activo{
    background: linear-gradient(to right,  #7045AF, #E14594);
    color:white !important;
}

.img_carga{
    width: 150px;
    height: 300px;
    background-color: #000;
}